.list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 260px;
    height: auto;
}

.list-button{
    margin-top: 40px;
}
.list ul{
    list-style: none;
}
.list-input{
    padding: 5px;
}
.blog-list{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 20px;
        width: 260px;
        height: auto;
}